@import './styles/normalize.scss';
@import './styles/variables.scss';
@import './styles/header.scss';
@import './styles/main.scss';
@import './styles/footer.scss';

body {
  @include text-font();
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $background-color-main;
  overflow-y: auto;
}
