@import './variables.scss';

.about {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}

.about-greetings {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 60px 10px;

  & > h1 {
    @include text-font(4.8rem, 400, $white-color-primary);
    @media (max-width: $small-screen) {
      @include text-font(3.8rem, 400, $white-color-primary);
    }

    span {
      @include text-font(4.8rem, 700, $accent-color);
      @media (max-width: $small-screen) {
        @include text-font(3.8rem, 400, $accent-color);
      }
    }
  }

  & > p {
    margin-top: 10px;
    @include text-font(2.4rem, 400, $white-color-thirty);
  }
  .wave {
    align-self: center;
    width: 60%;
  }

  & .wave > img {
    margin-top: 10px;
    width: 100%;
    border-radius: 8px;
    border-radius: 16px;
    border: 8px solid $background-color-secondary;
  }
}

.wave {
  overflow: hidden;
  position: relative;
}

.wave:hover img {
  animation: wave 0.5s ease;
  transform-origin: 50% 50%;
}

@keyframes wave {
  0% {
    transform: rotateY(0deg);
  }
  10% {
    transform: rotateY(-2deg);
  }
  25% {
    transform: rotateY(-4deg);
  }
  50% {
    transform: rotateY(-5deg);
  }
  75% {
    transform: rotateY(-4deg);
  }
  85% {
    transform: rotateY(-2deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.about-greetings-description {
  margin-top: 30px;
  @include text-font(2.4rem, 400, $white-color-primary);

  p {
    margin-top: 15px;
    text-align: justify;
    text-indent: 20px; /* Задаем отступ для первого параграфа */
  }

  > p span {
    @include text-font(2.4rem, 700, $accent-color);
  }
}
