@import './about.scss';
@import './contact.scss';
@import './pets.scss';

main {
  flex: 1;
  width: 872px;
  margin-inline: auto;
  @media (max-width: $small-screen) {
    min-width: 360px;
    width: 100%;
  }
}

.wrapper-section {
  padding: 32px 64px;
}
