@import './variables.scss';

.portfolio {
  text-align: center;
  scroll-margin-top: 60px;

  h2 {
    @include text-font(3.8rem, 400, $white-color-primary);
  }
}

.pet-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 250px;

  .pet {
    padding: 10px;
    width: 100%;
    height: 100%;
    a {
      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        border-radius: 16px;
        border: 8px solid $background-color-secondary;
      }
    }
  }

  @media (max-width: $small-screen) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}

.img {
  margin-top: 10px;
  width: 100%;
  border-radius: 8px;
  border-radius: 16px;
  border: 8px solid $background-color-secondary;
}
